beautifulsoup4
blis
catalogue
certifi
chardet
click
contextvars
cymem
dataclasses
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
idna
immutables
Jinja2
MarkupSafe
murmurhash
numpy
pandas
packaging
pathy
preshed
pydantic
pyparsing
requests
smart-open
soupsieve
spacy
spacy-legacy
srsly
thinc
tqdm
typer
typing-extensions
urllib3
wasabi
zipp
pyspark
findspark